<div class="container">
  <div class="d-flex flex-column align-items-center text-bg-primary pt-3">
    <h1>To Do App</h1>
    <p>Advanced version with Filter</p>
  </div>
  <div class="w-50 bg-secondary mt-2 rounded">


  <!-- <app-input [type]="inputObj.type" [placeholder]="inputObj.placeholder[0]" [style]="inputObj.width" [value]="taskObj.taskName"></app-input> -->
   <input type="text" placeholder="Tag Name" class="w-100"[(ngModel)]="taskObj.taskName">
    <!-- <input type="text" placeholder="Task Name" class="w-100 overflow-hidden"> -->
  </div>
  <div class="w-100 bg-secondary mt-2 rounded">
    <textarea name="" id="" placeholder="Task description" class="w-100 " [(ngModel)]="taskObj.taskDescription"></textarea>
  </div>
  <div class="mt-2 d-flex gap-3 w-100">
  <div class="w-25">
    <input type="date" [(ngModel)]="taskObj.dueDate">
    <!-- <input class="form-control" placeholder="yyyy-mm-dd"  name="dp" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="taskObj.dueDate"(click)="d.toggle()"> -->
  </div>
  <div class="w-50">
    <!-- <app-input [type]="inputObj.type" [placeholder]="inputObj.placeholder[1]"  [style]="inputObj.width"  [value]="taskObj.tags"></app-input> -->
     <input type="text" placeholder="Enter Comma Seperated tags" class="w-100" [(ngModel)]="taskObj.tags">
  </div>
 
  <!-- <input type="text" placeholder="Enter Comma Seperated tags" class="w-50"> -->
  <button class="bg-success border border-0 rounded px-3 " (click)="addTask()">Add Task</button>
</div>
  <div class="mt-3">
   <app-button [textName]="buttonArray[0]"  [bR]="buttonstyle[0].borderRadius" [bg]="buttonstyle[0].bg" [border]="buttonstyle[0].border" [mr]="buttonstyle[0].mr"></app-button>
   <app-button [textName]="buttonArray[1]" [bR]="buttonstyle[1].borderRadius" [bg]="buttonstyle[1].bg" [border]="buttonstyle[1].border" [mr]="buttonstyle[1].mr"></app-button>
   <app-button [textName]="buttonArray[2]" [bR]="buttonstyle[2].borderRadius" [bg]="buttonstyle[2].bg" [border]="buttonstyle[2].border" [mr]="buttonstyle[2].mr"></app-button>
  </div>
  <div>
    <app-tag></app-tag>
  </div>

  <div class="w-100">
    <app-table></app-table>
  </div>
  
  
</div>